@{
    ViewData["Title"] = "Xoa db";
}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Co chac chan muon xoa db
</p>
<form method="post">
    <button type="submit" class="btn btn-danger">
        Xoa db
    </button>
</form>
<hr>
<a asp-action="Index">Thong tin Db</a>